{% extends 'base.html' %}

{% load static %}

{% block 'head'  %}
    <link rel="stylesheet" href="{% static 'autorizacao/css/autorizacao.css' %}">
{% endblock  %}

{% block 'dashboard'  %}
    <div class="container">
        <br>
        <br>
        <h1 class="titulo">Prefeitura do Município de Bertioga</h1>
        <h6 class="titulo">Estado de São Paulo</h6>
        <h5 class="titulo">Estância Balneária</h5>
        <h2 class="titulo">- DIRETORIA DE DESENVOLVIMENTO AMBIENTAL -</h2>
    </div>

    
{% endblock  %}